$C1: white;
$C2: #0a36c5;
$C3: #00000C;
.menu {
    position: fixed;
    font-size: 10px;
    background-color: $C2;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    left: 0;
    top: 20%;
    opacity: 0.6;
    width: 17.5px;
    transition: all 0.5s;
    text-decoration: none;
    border: 0.5px solid $C3;
    div {
        padding: 2px;
        color: $C1;
    }
    &:hover {
        background-color: $C3;
        opacity: 1.0;
        width: 35px;
        div {
            color: $C1;
        }
    }
}

@media (min-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        text-shadow: $C3 0.1px 0.1px $C1 0.1px 0.1px;
        .container {
            background-color: $C3;
            height: 120px;
            width: 100%;
            margin-right: 0;
            margin-left: 0;
            max-width: none;
        }
        h2 {
            font-size: 2.5vw;
        }
        h3 {
            border-bottom: 3px solid $C2;
            font-size: 2vw;
        }
        #profil {
            box-shadow: 0px 0px 10px 0px $C1 inset;
            z-index: 2;
            position: absolute;
            left: 1%;
            height: 100%;
            transition: all 0.5s;
            &:hover {
                box-shadow: 0px 0px 0px 0px $C1 inset;
            }
        }
        #dzem {
            text-align: left;
            color: $C1;
            margin-left: 5%;
        }
        #civique {
            text-align: right;
            color: $C1;
            position: absolute;
            right: 0;
        }
        #grid {
            display: grid;
            grid-template-columns: 50% 50%;
        }
        article {
            color: $C2;
            font-size: 1.5vw;
            padding-left: 5%;
            width: 95%;
        }
        ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            color: $C3;
        }
        li {
            &:before {
                content: "►";
            }
        }
        .un_quatre {
            list-style-image: url("../image/un_quatre.png");
            padding-left: 1%;
            list-style-position: inside;
        }
        .deux_quatre {
            list-style-image: url("../image/deux_quatre.png");
            list-style-position: inside;
            margin-left: 1%;
        }
        .trois_quatre {
            list-style-image: url("../image/trois_quatre.png");
            padding-left: 1%;
            list-style-position: inside;
        }
        .quatre_quatre {
            list-style-image: url("../image/quatre_quatre.png");
            margin-left: 1%;
            list-style-position: inside;
        }
        .tiny_linky {
            font-size: 1vw;
            color: $C2;
        }
    }
}


/*desktops - higher resolution*/

@media (min-width: 481px) and (max-width: 767px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        text-shadow: $C3 0.1px 0.1px $C1 0.1px 0.1px;
        .container {
            background-color: $C3;
            height: 120px;
            width: 100%;
            margin-right: 0;
            margin-left: 0;
            max-width: none;
        }
        h2 {
            font-size: 3.5vw;
        }
        h3 {
            border-bottom: 3px solid $C2;
            font-size: 3vw;
        }
        #profil {
            box-shadow: 0px 0px 10px 0px $C1 inset;
            z-index: 2;
            position: absolute;
            left: 350%;
            height: 45%;
            transition: all 0.5s;
            &:hover {
                box-shadow: 0px 0px 0px 0px $C1 inset;
            }
        }
        #dzem {
            text-align: left;
            color: $C1;
            margin-left: 5%;
        }
        #civique {
            text-align: right;
            color: $C1;
            position: absolute;
            right: 0;
        }
        #grid {
            display: grid;
            grid-template-columns: 50% 50%;
        }
        article {
            color: $C2;
            font-size: 1.5vw;
            padding-left: 5%;
            width: 95%;
        }
        ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            color: $C3;
        }
        li {
            &:before {
                content: "►";
            }
        }
        .un_quatre {
            list-style-image: url("../image/un_quatre.png");
            padding-left: 1%;
            list-style-position: inside;
        }
        .deux_quatre {
            list-style-image: url("../image/deux_quatre.png");
            list-style-position: inside;
            margin-left: 1%;
        }
        .trois_quatre {
            list-style-image: url("../image/trois_quatre.png");
            padding-left: 1%;
            list-style-position: inside;
        }
        .quatre_quatre {
            list-style-image: url("../image/quatre_quatre.png");
            margin-left: 1%;
            list-style-position: inside;
        }
        .tiny_linky {
            font-size: 1vw;
            color: $C2;
            border: 1px $C1 solid;
        }
    }
}

@media (max-width: 480px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        text-shadow: $C3 0.1px 0.1px $C1 0.1px 0.1px;
        .container {
            background-color: $C3;
            height: 120px;
            width: 100%;
            margin-right: 0;
            margin-left: 0;
            max-width: none;
        }
        h2 {
            font-size: 3vw;
        }
        h3 {
            border-bottom: 3px solid $C2;
            color: #0a36c5;
            font-size: 1.5vw;
        }
        #profil {
            box-shadow: 0px 0px 10px 0px $C1 inset;
            z-index: 2;
            position: absolute;
            left: 0.5%;
            height: 100%;
            transition: all 0.5s;
            &:hover {
                box-shadow: 0px 0px 0px 0px $C1 inset;
            }
        }
        #dzem {
            text-align: left;
            color: $C1;
            margin-left: -2%;
            .prenom {
                margin-right: 5%;
            }
            .nom {
                margin-right: 5%;
            }
        }
        #civique {
            text-align: right;
            color: $C1;
            position: absolute;
            right: 0;
            font-size: 2vw;
        }
        #grid {
            display: grid;
            grid-template-columns: 50% 50%;
        }
        article {
            color: $C2;
            font-size: 2vw;
            padding-left: 5%;
            width: 95%;
        }
        ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            color: $C3;
        }
        li {
            &:before {
                content: "►";
            }
        }
        .un_quatre {
            list-style-image: url("../image/un_quatre.png");
            padding-left: 1%;
            list-style-position: inside;
            white-space: nowrap;
        }
        .deux_quatre {
            list-style-image: url("../image/deux_quatre.png");
            list-style-position: inside;
            margin-left: 1%;
            white-space: nowrap;
        }
        .trois_quatre {
            list-style-image: url("../image/trois_quatre.png");
            padding-left: 1%;
            list-style-position: inside;
            white-space: nowrap;
        }
        .quatre_quatre {
            list-style-image: url("../image/quatre_quatre.png");
            margin-left: 1%;
            list-style-position: inside;
            white-space: nowrap;
        }
        .tiny_linky {
            font-size: 45%;
            color: $C2;
        }
    }
}