$Blanc: white;
$Bleu: #0a36c5;
$Noir: #00000C;
@media (min-width: 1025px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        text-shadow: black 0.1px 0.1px white 0.1px 0.1px;
    }
    header {
        background-color: $Noir;
        transform: scaleX(1.128);
        height: 120px;
    }
    h3 {
        border-bottom: 3px solid #0a36c5;
    }
    #profil {
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.7) inset;
        z-index: 2;
        position: absolute;
        right: 5px;
        height: 100px;
        width: 100px;
        transition: all 0.5s;
        &:hover {
            box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.7) inset;
        }
    }
    #dzem {
        text-align: left;
        color: $Blanc;
        transform: translateX(5px);
    }
    #civique {
        text-align: right;
        color: $Blanc;
    }
    #grid {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    article {
        color: $Bleu;
        font-size: 150%;
        padding-left: 10px;
        width: 95%;
    }
    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        color: $Noir;
    }
    li {
        &:before {
            content: "►";
        }
    }
    .un_quatre {
        list-style-image: url("../image/un_quatre.png");
        padding-left: 5px;
        list-style-position: inside;
    }
    .deux_quatre {
        list-style-image: url("../image/deux_quatre.png");
        list-style-position: inside;
        margin-left: 5px;
    }
    .trois_quatre {
        list-style-image: url("../image/trois_quatre.png");
        padding-left: 5px;
        list-style-position: inside;
    }
    .quatre_quatre {
        list-style-image: url("../image/quatre_quatre.png");
        margin-left: 5px;
        list-style-position: inside;
    }
    .tiny_linky {
        font-size: 15px;
        color: $Bleu;
    }
}

@media (max-width: 1025px) {
    body {
        margin: 1px;
        padding: 0;
        width: 100%;
        text-shadow: black 0.1px 0.1px white 0.1px 0.1px;
    }
    header {
        background-color: $Noir;
        transform: scaleX(1.128);
        height: 120px;
    }
    h2 {
        font-size: 18px;
        text-shadow: 0 1px 1px;
    }
    h3 {
        border-bottom: 3px solid #0a36c5;
        font-size: 14px;
    }
    #profil {
        box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.7) inset;
        z-index: 2;
        position: absolute;
        right: 5px;
        height: 100px;
        width: 100px;
        transition: all 0.5s;
        &:hover {
            box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.7) inset;
        }
    }
    #dzem {
        display: block;
        color: $Blanc;
        margin-left: 15px;
        .prenom {
            margin-left: 25px;
        }
        .nom {
            margin-top: -25px;
            font-size: 25px;
        }
    }
    #civique {
        font-size: 12px;
        margin-left: 15px;
        color: $Blanc;
    }
    #grid {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    article {
        color: $Bleu;
        font-size: 150%;
        padding-left: 10px;
        width: 95%;
        font-size: 12px;
    }
    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        color: $Noir;
    }
    li {
        &:before {
            content: "►";
        }
    }
    .un_quatre {
        list-style-image: url("../image/un_quatre.png");
        padding-left: 5px;
        list-style-position: inside;
    }
    .deux_quatre {
        list-style-image: url("../image/deux_quatre.png");
        list-style-position: inside;
        margin-left: 5px;
    }
    .trois_quatre {
        list-style-image: url("../image/trois_quatre.png");
        padding-left: 5px;
        list-style-position: inside;
    }
    .quatre_quatre {
        list-style-image: url("../image/quatre_quatre.png");
        margin-left: 5px;
        list-style-position: inside;
    }
    .tiny_linky {
        display: block;
        border: solid 1px $Bleu;
        font-size: 10px;
        color: $Bleu;
        padding: 2px;
        &:hover {
            box-shadow: inset $Noir 0 0 5px;
        }
    }
}