$C1: white;
$C2: #4c85bd;
$C3: #00000C;
$C3a: #00000c60;
@import url('https://fonts.googleapis.com/css?family=Oswald');




.lien_magique {
    color: yellow;
    background-color: $C3;
    border-radius: 25%;
    padding:5px;
    &:hover {
        color: yellow;
        text-decoration: none;
        text-shadow: 0px 0px 1px rgba(95, 81, 81, 0.616), 0px 0px 3px rgba(194, 4, 4, 0.616), 0px 0px 5px yellow !important;
    }
}


.copyright {
    text-align: center;
    color: $C3;
font-weight: bolder;
padding: 20px 0 20px 0;
background-color: $C1;
width:98%;
margin: auto auto;
font-size: larger;
}