$C1: white;
$C2: #4c85bd;
$C3: #00000C;
$C3a: #00000c60;
@import url('https://fonts.googleapis.com/css?family=Oswald');




.lien_magique {
background-color: $C1;
  color: $C3;
  padding: 10px;
  margin: 2px;
  text-decoration: none;
  border-radius: 10px;
  border: $C3a 2px solid;
  transition: all 0.5s;
    &:hover {
        color: $C2;
        text-decoration: none;
        font-size: large;
        margin: 5px;
        padding: 12px;
        box-shadow: 0px 0px 1px rgba(95, 81, 81, 0.616), 0px 0px 3px rgba(194, 4, 4, 0.616), 0px 0px 5px yellow !important;
        background-color: lightgray;
    }
}


.copyright {
    text-align: center;
    color: $C3;
font-weight: bolder;
padding: 20px 0 20px 0;
background-color: $C1;
width:98%;
margin: auto auto;
font-size: larger;
}

sup{
cursor: help;
}