$C1: white;
$C2: #4c85bd;
$C3: #00000C;
$C3a: #00000c60;
@import url('https://fonts.googleapis.com/css?family=Oswald');

// Les applications
.apps {
    .description {
        border-top: $C3a solid 2px;
        border-bottom: $C3a solid 2px;
        box-shadow: $C3a 2px 2px 2px;
        padding: 20px;
        text-align: center;
        color: $C3;
        font-weight: bold;
        background-color: $C1;
    }
}

@media screen and (min-width: 1280px) {
    .appsview {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto auto;
        margin: 10px;
        article {
            height: 200px;
            a {
                display: inline;
                text-align: center;
                margin: 5px;
                &:hover {
                    text-decoration: none;
                    background-color: $C1;
                    color: $C3;
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .appsview {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto;
        margin: 10px;
        article {
            height: 220px;
            a {
                display: block;
                text-align: center;
                margin: 5px;
                &:hover {
                    text-decoration: none;
                    background-color: $C1;
                    color: $C3;
                }
            }
        }
    }
}

.appsview {
    article {
        background: linear-gradient(180deg, $C3a 0%, $C1 17%, $C1 18%, $C1 100%);
        h4 {
            color: $C1;
            padding: 5px;
            margin: 0;
            font-size: 1.5em;
            background-color: $C3a;
            border-bottom: $C3 1px solid;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        p {
            color: black;
            height: 75px;
            padding: 10px;
        }
        a {
            background-color: $C1;
            color: $C3;
            padding: 10px;
            margin: 2px;
            text-decoration: none;
            border-radius: 10px;
            border: $C3 2px solid;
            &:active{
                background-color: grey;
            }
            &:hover {
                text-decoration: none;
                background-color: lightgray;
            }
        }
    }
}