@import url("https://fonts.googleapis.com/css?family=Oswald");
body {
  background-color: white;
  color: black;
}

main {
  display: block;
}

main .banniere {
  padding-top: 50px;
}

@media screen and (min-width: 1500px) {
  main .banniere {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .banniere h2 {
    font-size: 6vw;
  }
}

@media screen and (min-width: 459px) and (max-width: 1499px) {
  main .banniere {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .banniere h2 {
    font-size: 9vw;
  }
}

@media screen and (max-width: 460px) {
  main .banniere {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .banniere h2 {
    font-size: 22vw;
  }
}

main section aside {
  padding: auto auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 250px;
  width: 100%;
  font-size: 1.2em;
}

main section:first-child {
  background-color: #4c85bd;
  margin: 0;
}

main section:first-child .profil {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  -webkit-clip-path: path("M0,64c0,35.346,31.992,54.489,62.04,81.702C115.331,106.299,128,99.346,128,64c0-35.346-28.654-64-64-64 C28.653, 0, 0, 28.654, 0, 64");
          clip-path: path("M0,64c0,35.346,31.992,54.489,62.04,81.702C115.331,106.299,128,99.346,128,64c0-35.346-28.654-64-64-64 C28.653, 0, 0, 28.654, 0, 64");
  background-image: url(../image/A24A7D10.jpg);
  background-size: 128px 147px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

main section:first-child .coordonnee {
  background-color: transparent;
}

main section:first-child .coordonnee a {
  color: white;
  text-decoration: underline;
}

main section:first-child .coordonnee a:hover {
  color: #00000C;
}

main section:first-child .langues {
  width: 100%;
  background-color: transparent;
}

main section:last-child {
  background-color: white;
  color: black;
}

main section:last-child h3 {
  display: inline-block;
  background: #4c85bd;
  color: white;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0px 0px 40px 0px;
}

.competences {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: white;
}

.competences article {
  display: inline-block;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
}

.competences article h4 {
  text-align: center;
}

.competences article img {
  width: 20px;
  margin-right: 5px;
}

@media screen and (min-width: 1500px) {
  .compe {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 459px) and (max-width: 1499px) {
  .compe {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 460px) {
  .compe {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.compe i {
  margin-right: 5px;
}

.compe h4 {
  text-align: center;
}

.compe img {
  width: 20px;
  margin-right: 5px;
}

.compe .compe_scroll {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}

.compe .vm {
  background-color: red;
  color: white;
}

.compe .vm h4 {
  background-color: rgba(255, 255, 255, 0.39);
  border-bottom: solid white 2px;
  border-top: solid white 2px;
}

.compe .vm ul {
  list-style-type: " ";
  list-style-type: none;
  text-align: justify;
  color: white;
  font-weight: bold;
  padding: 0;
}

.compe .photo {
  background-color: black;
  color: white;
}

.compe .photo h4 {
  background-color: rgba(255, 255, 255, 0.39);
  border-bottom: solid white 2px;
  border-top: solid white 2px;
}

.compe .photo ul {
  list-style-type: none;
  background: transparent;
  text-align: justify;
  color: white;
  font-weight: bold;
  padding: 0;
}

.compe .cm {
  background-color: #4c85bd;
  color: white;
}

.compe .cm h4 {
  background-color: rgba(255, 255, 255, 0.39);
  border-bottom: solid white 2px;
  border-top: solid white 2px;
}

.compe .cm ul {
  list-style-type: none;
  background: transparent;
  text-align: justify;
  color: white;
  font-weight: bold;
  padding: 0;
}

.compe .js {
  background-color: yellow;
  color: black;
}

.compe .js h4 {
  background-color: rgba(0, 0, 0, 0.39);
  border-bottom: solid white 2px;
  border-top: solid white 2px;
}

.compe .js ul {
  list-style-type: none;
  background: transparent;
  text-align: justify;
  color: black;
  font-weight: bold;
}

.hobbies {
  background-color: white;
}

.hobbies .hob {
  display: -ms-grid;
  display: grid;
  gap: 10px 20px;
  padding: 10px 20px;
}

@media screen and (min-width: 1500px) {
  .hobbies .hob {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 459px) and (max-width: 1499px) {
  .hobbies .hob {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 460px) {
  .hobbies .hob {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

.hobbies .hob div {
  padding: 10px 10px;
}

.hobbies .hob div ul {
  list-style-type: "- ";
  background: transparent;
  text-align: left;
  color: white;
  font-weight: bold;
}

.hobbies .hob div h4 {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

.hobbies .hob div:nth-child(1) {
  background-color: red;
  color: white;
}

.hobbies .hob div:nth-child(2) {
  background-color: black;
  color: white;
}

.hobbies .hob div:nth-child(3) {
  background-color: #4c85bd;
  color: white;
}

.hobbies .hob div:nth-child(4) {
  background-color: yellow;
}

.hobbies .hob div:nth-child(4) ul {
  color: black;
}

.icon {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.icon .vm {
  color: red;
}

.icon .photo {
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.icon .cm {
  color: #4c85bd;
}

.icon .js {
  color: yellow;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background: #F0F0F0;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B3AFB3;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0px;
  -webkit-box-shadow: inset 0px 0px 0px 0px #F0F0F0;
          box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #4c85bd;
  color: white;
  text-transform: uppercase;
  height: 50px;
  border: 5px solid transparent;
  border-radius: 40px 0px 40px 0px;
}

h5 {
  font-size: 1.7em;
  font-weight: bold;
}
/*# sourceMappingURL=cv.css.map */