$C1: rgb(192, 192, 192);
$C2: #4c85bd;
$C3: #00000C;
$C4:white;
$C5:rgb(100, 100, 100);
@import url("https://fonts.googleapis.com/css?family=Oswald");
main {
    @media screen and (orientation: portrait) {
        display: block;
    }
    @media screen and (orientation:landscape) {
        display: grid;
        grid-template-columns: 0.5fr 1.5fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas: ". .";
    }
    section {
        &:first-child {
            background-color: $C2;
            margin: 0;
            .profil {
                margin: 50px auto;
                width: 150px;
                height: 150px;
                clip-path: path('M0,64c0,35.346,31.992,54.489,62.04,81.702C115.331,106.299,128,99.346,128,64c0-35.346-28.654-64-64-64 C28.653, 0, 0, 28.654, 0, 64');
                background-image: url(../image/A24A7D10.jpg);
                background-size: 128px 147px;
                transform: scale(1.5);
            }
            .coordonnee {
                background-color: transparent;
                @media screen and (orientation: portrait) {
                    height: 150px
                }
                a {
                    color: $C4;
                    text-decoration: underline;
                    &:hover {
                        color: $C3;
                    }
                }
            }
            .reseaux {
                background-color: transparent;
                svg {
                    a {
                        &:hover {
                            fill-opacity: 0.5;
                        }
                    }
                }
            }
            .langues {
                @media screen and (orientation: landscape) {
                    width: 100%;
                }
                @media screen and (orientation: portrait) {
                    .card-body {
                        padding: 0;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr;
                        gap: 0px 0px;
                        grid-template-areas: ". .";
                        p {
                            font-size: 10px;
                        }
                    }
                }
                background-color: transparent;
            }
        }
        &:last-child {
            background-color: $C4;
            color: black;
            h3 {
                display: inline-block;
                background: $C2;
                color: white;
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                border-radius: 0px 0px 40px 0px;
            }
            .metiers {
                @media screen and (orientation: portrait) {
                    margin-bottom: 20px;
                    .card {
                        margin-bottom: 15px;
                    }
                    p {
                        font-size: 15px;
                        margin: auto auto;
                        i {
                            margin-right: 5px;
                        }
                    }
                }
                @media screen and (orientation:landscape) {
                    margin: auto;
                    margin-top: 50px;
                    margin-bottom: 20px;
                    width: 95%;
                    .card {
                        margin: 0 0.1vw;
                    }
                    p {
                        font-size: 20px;
                        margin: auto auto;
                        i {
                            margin-right: 5px;
                        }
                    }
                }
                .vm {
                    background-color: red;
                    color: white !important;
                    .icon {
                        position: absolute;
                        left: 50%;
                        bottom: -15px;
                        color: red;
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: rgba(0, 0, 0, .125);
                    }
                }
                .photo {
                    background-color: black;
                    color: white !important;
                    .icon {
                        position: absolute;
                        left: 50%;
                        bottom: -15px;
                        color: black;
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: rgba(0, 0, 0, .125);
                    }
                }
                .cm {
                    background-color: $C2;
                    color: white !important;
                    .icon {
                        position: absolute;
                        left: 50%;
                        bottom: -15px;
                        color: $C2;
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: rgba(0, 0, 0, .125);
                    }
                }
                .js {
                    background-color: yellow;
                    color: black;
                    .icon {
                        position: absolute;
                        left: 50%;
                        bottom: -15px;
                        color: yellow;
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: rgba(0, 0, 0, .125);
                    }
                }
            }
            .competence {
                .card {
                    color: black;
                    .card-title {
                        text-align: center;
                        .icon {
                            position: absolute;
                            right: 0;
                            top: 0;
                            -webkit-text-stroke-width: 1px;
                            -webkit-text-stroke-color: black;
                            .vm {
                                color: red;
                            }
                            .photo {
                                color: black;
                            }
                            .cm {
                                color: $C2;
                            }
                            .js {
                                color: yellow;
                            }
                        }
                    }
                    ul {
                        list-style-type: none;
                        background: transparent;
                        text-align: left;
                        li {
                            .prog {
                                width: 20px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
            .formations,
            .stage {
                p {
                    margin-left: 5px;
                    b:first-child {
                        color: $C2;
                    }
                    .icon {
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: black;
                        .vm {
                            color: red;
                        }
                        .photo {
                            color: black;
                        }
                        .cm {
                            color: $C2;
                        }
                        .js {
                            color: yellow;
                        }
                    }
                }
            }
            .hobbies {
                .hob {
                    @media screen and (orientation: portrait) {
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-template-rows: 1fr 1fr;
                        gap: 10px 20px;
                        grid-template-areas: ". " ". ";
                        padding: 10px 20px;
                    }
                    @media screen and (orientation:landscape) {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr 1fr;
                        gap: 10px 20px;
                        grid-template-areas: ". ." ". .";
                        padding: 10px 20px;
                    }
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    gap: 10px 20px;
                    grid-template-areas: ". ." ". .";
                    padding: 10px 20px;
                    div {
                        padding: 10px 10px;
                        ul {
                            list-style-type: "- ";
                            background: transparent;
                            text-align: left;
                            color: white;
                            font-weight: bold;
                        }
                        h4 {
                            text-align: center;
                            text-decoration: underline;
                            font-weight: bold;
                        }
                        &:nth-child(1) {
                            background-color: red;
                            color: white;
                        }
                        &:nth-child(2) {
                            background-color: $C2;
                            color: white;
                        }
                        &:nth-child(3) {
                            background-color: black;
                            color: white;
                        }
                        &:nth-child(4) {
                            background-color: yellow;
                            ul {
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}