@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fr.allfont.net/allfont.css?fonts=lexia");
.dys {
  font-family: 'Lexia', arial;
  font-size: 14px;
}

body {
  background-color: #4c85bd;
}

html {
  scroll-behavior: smooth;
}

.lien_magique {
  color: yellow;
}

.lien_magique:hover {
  color: yellow;
  text-decoration: none;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.616), 0px 0px 3px rgba(194, 4, 4, 0.616), 0px 0px 5px yellow !important;
}

header {
  width: 100%;
  background-color: #00000C;
}

header .cv {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  width: 10%;
  background-color: white;
  border: 1px solid #00000C;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 0 180px 180px 0;
  color: #4c85bd !important;
  text-decoration: none;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media screen and (min-width: 990px) {
  header .cv {
    font-size: 2vw;
  }
}

@media screen and (max-width: 990px) {
  header .cv {
    font-size: 5vw;
  }
}

header .cv:hover {
  color: #00000C;
  border: 1px solid #4c85bd;
  -webkit-box-shadow: inset 0 0 5px #4c85bd;
  box-shadow: inset 0 0 5px #4c85bd;
}

header .cv:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

@media screen and (min-width: 1280px) {
  header a:not(.dropdown-item) {
    font-size: 1.5vw;
    color: white;
  }
}

@media screen and (max-width: 1280px) {
  header a:not(.dropdown-item) {
    font-size: 2.5vw;
    color: white;
  }
  header .nav-item {
    width: 100%;
    height: 30px;
  }
}

header .dropdown:hover {
  opacity: 0.9;
}

header .navbar-toggler {
  background-color: #4c85bd;
  border-bottom: 1px #4c85bd solid;
}

header .navbar-toggler:active {
  border-bottom: 5px #4c85bd solid;
}

header .navbarDropdownMenuLink {
  opacity: 0.5;
}

header .navbarDropdownMenuLink:hover {
  opacity: 0.9;
}

header .dropdown-item {
  opacity: 0.5;
  z-index: 10000;
}

header .dropdown-item:hover {
  opacity: 0.9;
  z-index: 10000;
}

header .dropdown-menu {
  z-index: 10000;
}

header .dropdown-menu:hover {
  z-index: 10000;
}

@media screen and (min-width: 1280px) {
  h1,
  h2 {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 3vw;
    text-shadow: #00000C 0 1px 0;
  }
  main {
    color: white;
  }
  main .intro {
    border-top: #00000c60 solid 2px;
    border-bottom: #00000c60 solid 2px;
    -webkit-box-shadow: #00000c60 2px 2px 2px;
            box-shadow: #00000c60 2px 2px 2px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  main .intro a {
    color: yellow;
  }
  main .intro a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.616), 0px 0px 3px rgba(194, 4, 4, 0.616), 0px 0px 5px yellow;
  }
  main .inline {
    display: -ms-grid;
    display: grid;
    grid-gap: 5px;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    margin: 5px;
  }
  main .inline ul {
    text-align: center;
    list-style-type: none;
  }
  main .inline ul .li {
    color: white;
    background-color: #00000C;
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
  }
  main .inline .technologies,
  main .inline .logiciels,
  main .inline .capacites,
  main .inline .programmes {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #00000c60;
    border-bottom: 1px white solid;
    border-left: 1px white solid;
    border-right: 1px white solid;
    border-radius: 5px 5px 5px 5px;
  }
  main .inline .technologies span,
  main .inline .logiciels span,
  main .inline .capacites span,
  main .inline .programmes span {
    display: block;
    border-bottom: 2px white solid;
    width: 100%;
    background-color: #4c85bd;
    border-radius: 0 0 50px 50px;
  }
  main .inline .technologies li:nth-child(2n-1),
  main .inline .logiciels li:nth-child(2n-1),
  main .inline .capacites li:nth-child(2n-1),
  main .inline .programmes li:nth-child(2n-1) {
    background-color: #00000c3b;
  }
  main .inline .technologies a:link, main .inline .technologies a:visited,
  main .inline .logiciels a:link,
  main .inline .logiciels a:visited,
  main .inline .capacites a:link,
  main .inline .capacites a:visited,
  main .inline .programmes a:link,
  main .inline .programmes a:visited {
    color: white;
    background-color: #00000c60;
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    -webkit-transition: padding-left 0.5s;
    transition: padding-left 0.5s;
  }
  main .inline .technologies a:link:hover, main .inline .technologies a:visited:hover,
  main .inline .logiciels a:link:hover,
  main .inline .logiciels a:visited:hover,
  main .inline .capacites a:link:hover,
  main .inline .capacites a:visited:hover,
  main .inline .programmes a:link:hover,
  main .inline .programmes a:visited:hover {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 1280px) {
  h1,
  h2 {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 6vw;
    text-shadow: #00000C 0 1px 0;
  }
  main {
    color: white;
  }
  main .intro {
    border-top: #00000c60 solid 2px;
    border-bottom: #00000c60 solid 2px;
    text-align: center;
    padding: 5px;
  }
  main .intro a {
    color: yellow;
  }
  main .intro a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.616), 0px 0px 3px rgba(194, 4, 4, 0.616), 0px 0px 5px yellow;
  }
  main .inline {
    display: -ms-grid;
    display: grid;
    grid-gap: 5px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    margin: 5px;
  }
  main .inline ul {
    text-align: center;
    list-style-type: none;
  }
  main .inline ul .li {
    color: white;
    background-color: #00000C;
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
  }
  main .inline .technologies,
  main .inline .logiciels,
  main .inline .capacites,
  main .inline .programmes {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #00000c60;
  }
  main .inline .technologies span,
  main .inline .logiciels span,
  main .inline .capacites span,
  main .inline .programmes span {
    display: block;
    border-bottom: 2px white solid;
    width: 100%;
    background-color: #4c85bd;
    border-radius: 0 0 50px 50px;
  }
  main .inline .technologies li:nth-child(2n-1),
  main .inline .logiciels li:nth-child(2n-1),
  main .inline .capacites li:nth-child(2n-1),
  main .inline .programmes li:nth-child(2n-1) {
    background-color: rgba(0, 0, 12, 0.231);
  }
  main .inline .technologies a:link, main .inline .technologies a:visited,
  main .inline .logiciels a:link,
  main .inline .logiciels a:visited,
  main .inline .capacites a:link,
  main .inline .capacites a:visited,
  main .inline .programmes a:link,
  main .inline .programmes a:visited {
    color: white;
    background-color: #00000c60;
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    -webkit-transition: padding-left 0.5s;
    transition: padding-left 0.5s;
  }
  main .inline .technologies a:link:hover, main .inline .technologies a:visited:hover,
  main .inline .logiciels a:link:hover,
  main .inline .logiciels a:visited:hover,
  main .inline .capacites a:link:hover,
  main .inline .capacites a:visited:hover,
  main .inline .programmes a:link:hover,
  main .inline .programmes a:visited:hover {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.apps .description {
  border-top: #00000c60 solid 2px;
  border-bottom: #00000c60 solid 2px;
  -webkit-box-shadow: #00000c60 2px 2px 2px;
          box-shadow: #00000c60 2px 2px 2px;
  padding: 20px;
  text-align: center;
  color: white;
}

@media screen and (min-width: 1280px) {
  .appsview {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    margin: 10px;
  }
}

@media screen and (max-width: 1280px) {
  .appsview {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    margin: 10px;
  }
}

/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

main ul {
  color: #999;
  text-align: center;
  /* img size is 50x50 */
  background: url("../image/bg.png") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse .92s infinite;
          animation: bg-scrolling-reverse .92s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

main ul::before {
  content: " ";
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
}

.parcours .description {
  border-top: #00000c60 solid 2px;
  border-bottom: #00000c60 solid 2px;
  -webkit-box-shadow: #00000c60 2px 2px 2px;
          box-shadow: #00000c60 2px 2px 2px;
  padding: 20px;
  text-align: center;
  color: white;
}

@media screen and (min-width: 1280px) {
  .parcours .parc {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    margin: 10px;
  }
  .parcours .parc article {
    -ms-grid-columns: 12vw auto;
        grid-template-columns: 12vw auto;
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
  }
  .parcours .parc article div {
    height: 10vw;
  }
  .parcours .parc article div img {
    width: 12vw;
    margin: auto auto;
    height: 12vw;
    display: block;
  }
  .parcours .parc article div:nth-child(2n) {
    height: 12vw;
    font-size: 0.9vw;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .25rem;
  }
  .parcours .parc article div:nth-child(2n) h3 {
    font-family: 'Open Sans', sans-serif;
  }
}

@media screen and (max-width: 1280px) {
  .parcours .parc {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    margin: 10px;
  }
  .parcours .parc article {
    height: 10%;
  }
  .parcours .parc article img {
    width: 10%;
    margin: auto auto;
    height: 10%;
    display: block;
  }
  .parcours .parc article div:nth-child(2n) {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-bottom-right-radius: .25em;
    border-bottom-left-radius: .25em;
  }
  .parcours .parc article div:nth-child(2n) h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
  }
}

.copyright {
  text-align: center;
  color: white;
}
/*# sourceMappingURL=main.css.map */