$C1: white;
$C2: #4c85bd;
$C3: #00000C;
$C3a: #00000c60;
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    background-color: $C2;
    color:$C3;
}

html {
    scroll-behavior: smooth;
}


h1{
    background-color: $C1;
    color:$C2;
    text-align: center;
    padding:10px;
}

h2{
    color:$C1;
    text-align: center;
    padding:10px;

}
.intro{
    background-color: $C1;
    padding:10px;

}
.competences{
    background-color: $C1;
    padding: 20px;
    display: flex;
    
    justify-content: space-around; 
    align-items: stretch; 
    /* flex-flow: wrap; */  
    flex-wrap: wrap; 
    align-content: space-around;
    height: 100%;
    padding: 15px;
    gap: 5px;
    width:80vw;
    margin: auto auto;
div{
    border: $C2 solid 2px;
    margin: 10px;
    h3{
        padding-left:5px;
        padding-right:5px;
        padding-bottom: 5px;
        margin-top: 0;
        margin-bottom: 0;
        background-color: $C2;
        color:$C1;
        &::before{
            content:"❒ ";
        }
    }
    span{
        font-weight: bold;
        padding:15px;
        &::before{
            content:"➯ ";
        }
    }
    dl{
        padding:10px;
        margin:10px;
        dt{
            color:$C2;
        }
        dd{
            margin-bottom:10px;
            ul {
                list-style-type: none;
                li{
                    &::before{
                        content:"★ "
                    }
                }
              }
        }
    }
}
}

