@import url("https://fonts.googleapis.com/css?family=Oswald");
h2 {
  text-align: left;
  margin: 0;
  background-color: rgba(0, 0, 12, 0.376);
  display: inline;
  padding-top: 1px;
  padding-right: 20px;
}

.sites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  background-color: rgba(0, 0, 12, 0.376);
  padding: 10px;
  margin-bottom: 5px;
}
.sites article {
  background-color: rgb(255, 255, 255);
  border: rgb(0, 0, 12) 1px solid;
  color: rgb(76, 133, 189);
  width: 500px;
}
.sites article h4 {
  text-align: center;
  background-color: rgb(76, 133, 189);
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: larger;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.sites article p {
  color: rgb(0, 0, 12);
  margin: 25px;
}
.sites article p:nth-child(2n+1) {
  text-align: right;
}

.Behance {
  background-color: rgb(255, 255, 255);
  color: rgb(76, 133, 189);
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 10px;
  transition: all 0.1s;
  font-weight: bold;
}
.Behance:hover {
  background-color: #0061a7;
  padding-left: 10%;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.Behance:hover::after {
  content: " >>";
}
.Behance:active {
  position: relative;
  top: 1px;
}

.photographies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  background-color: rgba(0, 0, 12, 0.376);
  padding: 10px;
  margin-bottom: 5px;
}
.photographies article {
  width: 90vw;
  background-color: rgb(255, 255, 255);
  border: rgb(0, 0, 12) 1px solid;
}
.photographies article h4 {
  text-align: center;
  background-color: rgb(76, 133, 189);
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 10px;
  font-size: larger;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.photographies article img {
  width: 100%;
}
.photographies article .projet {
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background-color: #007dc1;
  border-radius: 3px 3px 0 0;
  border: 1px solid #124d77;
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
  transition: all 0.1s;
}
.photographies article .projet:hover {
  background-color: #0061a7;
  padding-left: 10%;
}
.photographies article .projet:active {
  position: relative;
  top: 1px;
}
.photographies article p {
  color: rgb(0, 0, 12);
  padding: 10px;
}
.photographies article p a {
  color: rgb(76, 133, 189);
  text-decoration: none;
}

.gmaps {
  background-color: rgb(255, 255, 255);
  width: 90%;
  margin: auto auto;
  margin-bottom: 5px;
  border-radius: 50px 50px 50px 50px;
  text-align: center;
}
.gmaps img {
  width: 70px;
}
.gmaps h3 {
  color: rgb(0, 0, 12);
}
.gmaps p {
  color: rgb(76, 133, 189);
  text-align: center;
}
.gmaps .progress_bar {
  width: 100%;
  background-color: rgba(0, 0, 12, 0.376);
}
.gmaps .progress_bar label {
  font-size: larger;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.gmaps .progress_bar label kbd {
  color: rgb(0, 0, 12);
  font-weight: bold;
}
.gmaps .progress_bar progress[value] {
  width: 100%;
  height: 25px;
  accent-color: rgb(76, 133, 189);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  justify-content: space-between;
  margin-bottom: 10px;
}
.gmaps .progress_bar progress[value]::-webkit-progress-bar {
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
  border: rgba(255, 255, 255, 0) 0px solid;
  z-index: 0;
}
.gmaps .progress_bar progress[value]::-webkit-progress-value {
  position: relative;
  background-color: rgb(76, 133, 189);
  box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.75);
  z-index: 99;
}
.gmaps .progress_bar progress[value] div {
  background-color: rgb(76, 133, 189);
  flex-grow: 2;
}

.LinkedIn {
  background-color: rgb(255, 255, 255);
  width: 90%;
  margin: auto auto;
  margin-bottom: 5px;
  border-radius: 50px 50px 50px 50px;
  text-align: center;
}
.LinkedIn img {
  width: 70px;
  border-radius: 100%;
}
.LinkedIn h3 {
  color: rgb(0, 0, 12);
}
.LinkedIn p {
  color: rgb(76, 133, 189);
  text-align: center;
}

a.lien {
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background-color: #007dc1;
  border-radius: 3px 3px 0 0;
  border: 1px solid #124d77;
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
  transition: all 0.1s;
}
@media (orientation: landscape) {
  a.lien {
    padding: 6px 24px;
  }
}
@media (orientation: portrait) {
  a.lien {
    padding: 20px 24px;
    font-size: larger;
  }
}
a.lien:hover {
  background-color: #0061a7;
  padding-left: 10%;
}
a.lien:hover::after {
  content: " >>";
}
a.lien:active {
  position: relative;
  top: 1px;
}/*# sourceMappingURL=porte-folio.css.map */