$C1: rgb(255, 255, 255);
$C2: rgb(76, 133, 189);
$C3: rgb(0, 0, 12);
$C3a: rgba(0, 0, 12, 0.376);
@import url('https://fonts.googleapis.com/css?family=Oswald');
// Le header
header {
    width: 100%;
    background-color: $C3;
    .profil {
        left: 1%;
        width: 10%;
        padding: 0.5%;
        border-radius: 180px;
    }
    .cv {
        text-align: center;
        font-family: 'Oswald', sans-serif;
        width: 10%;
        background-color: white;
        border: 1px solid #00000C;
        padding-left: 1%;
        padding-right: 1%;
        border-radius: 0 180px 180px 0;
        color: #4c85bd;
        font-size: 2vw;
        text-decoration: none;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        &:hover {
            color: #00000C;
            border: 1px solid #4c85bd;
            -webkit-box-shadow: inset 0 0 5px #4c85bd;
            box-shadow: inset 0 0 5px #4c85bd;
        }
        &:active {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }
    }
    @media screen and (min-width: 1280px) {
        a {
            font-size: 1.5vw;
            color: $C1;
        }
    }
    @media screen and (max-width: 1280px) {
        a {
            font-size: 2.5vw;
            color: $C1;
        }
    }
    .dropdown {
        &:hover {
            opacity: 0.9;
        }
    }
    .navbar-toggler {
        background-color: $C2;
        border-bottom: 1px $C2 solid;
        &:active {
            border-bottom: 5px $C2 solid;
        }
    }
    .navbarDropdownMenuLink {
        opacity: 0.5;
        &:hover {
            opacity: 0.9;
        }
    }
    .dropdown-item {
        opacity: 0.5;
        &:hover {
            opacity: 0.9;
        }
    }
}

@media screen and (min-width: 1280px) {
    main {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-gap: 1%;
        section {
            background: $C3;
            border-radius: 100px 100px 0 0;
            border: solid $C3a 10px;
            h2 {
                border-bottom: solid $C1 2px;
                text-transform: uppercase;
                font-family: 'Oswald', sans-serif;
            }
            div {
                text-align: center;
                color: $C1;
                border-radius: 180px;
                overflow-wrap: break-word;
                button:hover {
                    a {
                        color: $C1;
                        text-decoration: none;
                    }
                }
                span {
                    color: $C1;
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    main {
        display: grid;
        grid-gap: 1%;
        section {
            background: $C3;
            border-radius: 100px 100px 0 0;
            border: solid $C3a 10px;
            h2 {
                border-bottom: solid $C1 2px;
                text-transform: uppercase;
                font-family: 'Oswald', sans-serif;
            }
            div {
                text-align: center;
                color: $C1;
                border-radius: 180px;
                overflow-wrap: break-word;
                button:hover {
                    a {
                        color: $C1;
                        text-decoration: none;
                    }
                }
                span {
                    color: $C1;
                }
            }
        }
    }
}