$C1: rgb(255, 255, 255);
$C2: rgb(76, 133, 189);
$C3: rgb(0, 0, 12);
$C3a: rgba(0, 0, 12, 0.376);
@import url('https://fonts.googleapis.com/css?family=Oswald');
main {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1%;
    section {
        background: $C3;
        border-radius: 180px;
        border: solid $C3a 10px;
        h2 {
            border-bottom: solid $C1 2px;
            text-transform: uppercase;
            font-family: 'Oswald', sans-serif;
        }
        div {
            text-align: center;
            color: $C1;
            border-radius: 180px;
            a {
                color: $C2;
                text-decoration: none;
                &:after {
                    content: ">"
                }
                &:before {
                    content: "<"
                }
                &:hover {
                    text-decoration: none;
                    &:after {
                        content: "<"
                    }
                    &:before {
                        content: ">"
                    }
                }
            }
            span {
                color: $C1;
            }
        }
    }
}